#canvas {
    outline: 1px solid black;
    margin: 0px;
}
#canvas2 {
    outline: 1px solid black;
    position: relative;
}

container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px;
    margin-top: 10px;
    position: relative;
}

.slider {
    width: 400px;
}

.startPosButton {
    margin-left: 10px;
}
.startPosButton:hover {
    background-color: gray;
    color: white;
}
.finPosButton {
    margin-left: 10px;
}
.finPosButton:hover {
    background-color: green;
    color: white;
}

.fixObstacles {
    margin-left: 10px;
}
.fixObstacles:hover {
    background-color: red;
    color: white;
}
.makeProjection {
    margin-left: 10px;
}
.makeProjection:hover {
    background-color: gray;
    color: white;
}
.startWave {
    margin-left: 10px;
}
.startWave:hover {
    background-color: green;
    color: white;
}

.getWay {
    margin-left: 10px;
}
.getWay:hover {
    background-color: black;
    color: white;
}

#fixParameter {
    margin-left: 10px;
}

#valueInput {
    margin-left: 10px;
    width: 50px;
    text-align: center;
}
